*{
    margin: 0;
    font-family: Unbounded;

}

p{
    display: inline;
}

.hide{
    display: none;
}

#drop_zone {
    border: 5px dotted #c2c2c2;
    border-radius: 26px;
    width: 400px;
    height: 300px;
    margin: 20px auto 20px auto;
    position: relative;
}

.drop-zone-text{
   position: absolute;
   top: 40%;
   right: 50%;
   transform: translate(50%, -50%);
}

.motto-div{
    margin-top: 30%;
}


.photo-picker{
    padding: 30px;
    z-index: 9999;
    background: white;
    text-align: center;
    margin-top: 50px;
}


.btn-submit{
   position: absolute;
   top: 90%;
   right: 50%;
   transform: translate(50%, -50%);
}

.upload-message-div{
   position: absolute;
   top: 78%;
   right: 50%;
   transform: translate(50%, -50%);
}


.body-content{
    margin: auto;
    margin-top: 60px;
    width: 575px;
    text-align: center;
}

.navbar{
    margin: 20px 15% 20px 15%;
}

.login-form, .register-form{
    margin: 30% 0 0 0;
    text-align: center;
}

.price-div{
    margin: 15% 0 0 0;
}

.brand-div{
    margin: 30% 0 0 0;
    text-align: center;
}


.card-footer-btn{
    text-align: center;
    margin: auto;
}

.card-img-top{
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

h1{
    font-size: 40px;
}

.users-photos{
    height: 150px;
    margin-left: 30px;
    margin-right: 30px;
}

.user-photo-delete-btn{
    margin-left: 30px;
}

.no-photos-text{
    margin-top: 150px;
}

.home-hyper{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.user-photo li{
    margin-top: 30px;
}