*{
    margin: 0;
}

#drop_zone {
    border: 5px solid red;
    width: 400px;
    height: 300px;
    margin: auto;
    position: relative;
}

.drop-zone-text{
   position: absolute;
   top: 50%;
   right: 50%;
   transform: translate(50%, -50%);
}


.photo-picker{
    padding: 30px;
    z-index: 9999;
    background: white;
    border-radius:26px;
    border: 5px solid blue;
    text-align: center;
    margin-top: 50px;
}

.body-content{
    margin: auto;
    margin-top: 60px;
    width: 575px;
}


.navbar{
    margin: 20px 15% 20px 15%;
}

.login-form, .register-form{
    margin: 30% 0 0 0;
    text-align: center;
}

.card-footer-btn{
    text-align: center;
    margin: auto;
}

.card-img-top{

    margin: auto;
    margin-top: 20px;
    width: 50%;
}