{% extends 'main.html' %}
{% load static %}


{% block head-content %}
    <script defer src="{% static 'js/script.js' %}" ></script>
{% endblock %}


{% block body-content %}

     {% if user.is_authenticated %}
        <h1> Hi {{user}}</h1>
    {% endif %}

    <div class="photo-picker">
        <h4>Max 4MB/image</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-fields">
            <label for="file">Choose file to upload</label><br>
            <input type="file" id="file" name="files" accept="image/png, image/gif, image/jpeg" multiple />
            <div id="drop_zone">
              <p>Drag one or more files to this <i>drop zone</i>.</p>
            </div>
          </div>
          <div>
            <button>Submit</button>
          </div>
        </form>
        <div class="message-div">
            {% for message in messages %}
                <h4>{{message}}</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}
